{% extends 'base.html' %}
{% load static %}
{% block body_class %}amb-req-s{% endblock %}
{% block content %}

<div class="success-container">
  <div class="success-card">
    <!-- Success Icon -->
    <i class="fas fa-check-circle success-icon" aria-hidden="true"></i>

    <!-- Success Title -->
    <h1 class="success-title">Your ambulance request was submitted successfully!</h1>

    <!-- Success Message -->
    <div class="success-message">
      <p>We've received your request and will contact you shortly.</p>
    </div>
  
    <!-- Home Button -->
    <div class="button-container">
        <a href="{% url 'user_ambulance_requests' %}" class="btn  me-md-2">
          <i class="fas fa-ambulance me-1"></i> View My Requests
        </a>
        <a href="{% url 'home' %}" class="btn" aria-label="Return to home page">
          <i class="fas fa-home"></i> Back to Home
        </a>
      </div>
    </div>
  </div>
  {% endblock %}

