{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hospital-detail-container">

  <h1>{{ hospitals.name }}</h1>
  <div class="hospital-image">
    {% if hospitals.profile_pic %}
    <img src="{{ hospitals.profile_pic.url }}" alt="{{ hospitals.name }}">
    {% else %}
    <img src="{% static 'default_profile.jpg' %}" alt="No Image">
    {% endif %}
  </div>
  <div class="hospital-info">
    <p><strong>Address:</strong> {{ hospitals.address }}</p>
    <p><strong>City:</strong> {{ hospitals.city }}</p>
    <p><strong>Hotline:</strong> {{ hospitals.hotline }}</p>
    <p><strong>Email:</strong> {{hospitals.email }}</p>
  </div>

  <a href="{% url 'hospital_list' %}" class="btn btn-primary"> Back to Hospital List</a>

</div>
{% endblock %}